# Build and Release Folders
adm_bubon/$adm/images
bonsa/$adm/images
jisa/$adm/images
chongpan/$adm/images
shop/$adm/images


# Executables
*.gif
*.jpg
*.png

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
